{% extends 'masters/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'js/react/modals.css' %}">
<link rel="stylesheet" href="{% static 'js/react/profile.css' %}">
{% endblock %}

{% block content %}
<div id="react-profile"
     data-master-id="{{ master.id }}"
     data-initial='{
        "first_name": "{{ master.first_name|escapejs }}",
        "last_name": "{{ master.last_name|escapejs }}",
        "login": "{{ master.login|default:''|escapejs }}",
        "address": "{{ master.address|default:''|escapejs }}",
        "bio": "{{ master.bio|escapejs }}",
        "phone": "{{ master.user.phone }}",
        "avatar_url": "{% if master.avatar %}{{ master.avatar.url }}{% endif %}"
     }'></div>
{% csrf_token %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/react/profile.js' %}" type="module"></script>
{% endblock %}